




@keyframes squiggleDraw {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}

@keyframes sq_warping {
  0%{
    opacity: 0;

  }
  50%{
    opacity: 1;

  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;

  }
}


@keyframes sq_scale {
  0%{
      transform: scale3d(1, 1, 1);
  }
  50%{
      transform: scale3d(1, 1.1, 1.1);
  }
  100%{
       transform: scale3d(1, 1, 1);
  }


}

@keyframes sq_rotate {
    0%{
      transform: translate3d(0%,0%,0);
    }
   25%{
     transform: translate3d(.5%,.5%,1px);
   }
   50%{
     transform: translate3d(1%,1%,2px);
   }
    75%{
      transform: translate3d(.5%,.5%,1px);
    }
  100%{
    transform: translate3d(0%,0%,0);
  }
}
