

<div class="bg"></div>
<section>
  <div class="wrapper">
    <div class="container">



      <div class="blog-card"
           *ngFor="let blog of $blogData"
           (click)="showBlogPost({title: blog.title, text: blog.text})">
        <div class="bl-image">
          <span class="img" [style.background-image]="'url(' + blog.img + ')'"></span>
        </div>
        <div class="bl-card_wrapper">
          <div class="blog-content">
            <h4 class="bc_title">
              {{blog.title}}
            </h4>
            <p class="blog_text">
              {{blog.content}}
            </p>
          </div>
        </div>


      </div>

    </div>
  </div>

</section>


