@import '../../../../assets/scss/link.scss';




.bg{

  @include size (704px,627px);
  @include bg('../../assets/images/blogSponge.svg',100%);
  position: absolute;
  z-index: -1;
  right: 0;
}



section{
  @include flex(center);
  height: calc(100% - #{$h-max-height});
  padding: 0 15px;
  .wrapper{
    max-width: 1230px;


    .container{
      @include flex(between);
      @include size(100%, 77%);
      flex-wrap: wrap;
      .blog-card{
        position: relative;
        padding: .5vw;
        @include size(165px,45%);
        max-width: 420px;
        min-width: 358px;
        @include flex(start);
        border-radius: 20px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: $main-trans-all;


        &:hover{
          transition: $main-trans-all;
          transform: scale(1.1) translate(-7%,-3%);
          .bl-card_wrapper{
            .blog-content{

              border-top: 1px solid transparent;
              border-right: 1px solid transparent;
              border-bottom: 1px solid transparent;
              transition: $main-trans-all;
              &::after{
                content: '';
                @include size(103.5%,100.5%);
                opacity: 1;
                transition: $main-trans-all;
              }
            }
          }
        }
        .bl-image{
          @include size(100%, 20%);
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 20px;
          .img{
            position: absolute;
            height: 100%;
            width: 200px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            -o-background-size: auto;
            -moz-background-size: auto;
            -webkit-background-size: auto;
            animation: sq_rotate 20s linear infinite;
          }
        }
        .bl-card_wrapper{
          height: 100%;
          padding: 10px 10px 10px 0;

          .blog-content{
            @include flex(center,column);
            align-items: flex-start;
            @include square(100%);
            background: rgba(255,255,255,.79);
            border-top: 1px solid rgba(255,255,255,.59);
            border-right: 1px solid rgba(255,255,255,.59);
            border-bottom: 1px solid rgba(255,255,255,.59);
            box-shadow: inset 0 18px 44px #00000012;
            color:$f-main-color;
            padding: 2.5rem  1.5rem  2.5rem  2rem;
            text-transform: capitalize;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            position: relative;
            transition: $main-trans-all;
            &::after{
              content: '';
              @include square(100%);
              position: absolute;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
              background: linear-gradient(90.44deg, #B0E5F2 14.49%, #F07BCF 104.17%);
              left: 0;
              z-index: -1;
              opacity: 0;
              transition: $main-trans-all;
            }

            h4{
              font-family: 'Gilroy-Medium', sans-serif;
              font-size: 20px;
              font-weight: 700;
              line-height: 26px;
              margin: 0 0 0.5em 0;
            }
            p{
              font-family: 'Gilroy-Medium', sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
            }

          }
        }

      }
    }
  }

}


@media screen and (max-width:1020px){



  section{
    //@include flex(center);
    //height: calc(100% - #{$h-max-height});
    //padding: 0 15px;
    .wrapper{
      //max-width: 1230px;


      .container{
        width: 100%;
        justify-content: center;
        //@include flex(between);
        //@include size(100%, 77%);
        //flex-wrap: wrap;
        //.blog-card{
        //  position: relative;
        //  padding: .5vw;
        //  @include size(165px,45%);
        //  max-width: 420px;
        //  min-width: 358px;
        //  @include flex(start);
        //  border-radius: 20px;
        //  border: 2px solid transparent;
        //  cursor: pointer;
        //  transition: $main-trans-all;
        //
        //
        //  &:hover{
        //    transition: $main-trans-all;
        //    transform: scale(1.1) translate(-7%,-3%);
        //    .bl-card_wrapper{
        //      .blog-content{
        //
        //        border-top: 1px solid transparent;
        //        border-right: 1px solid transparent;
        //        border-bottom: 1px solid transparent;
        //        transition: $main-trans-all;
        //        &::after{
        //          content: '';
        //          @include size(103.5%,100.5%);
        //          opacity: 1;
        //          transition: $main-trans-all;
        //        }
        //      }
        //    }
        //  }
        //  .bl-image{
        //    height: 100%;
        //    width: 55px;
        //    overflow: hidden;
        //    display: flex;
        //    justify-content: center;
        //    align-items: center;
        //    position: relative;
        //    border-radius: 20px;
        //    .img{
        //      position: absolute;
        //      height: 100%;
        //      width: 200px;
        //
        //      background-repeat: no-repeat;
        //      background-position: center;
        //      background-size: auto;
        //      -o-background-size: auto;
        //      -moz-background-size: auto;
        //      -webkit-background-size: auto;
        //      animation: sq_rotate 20s linear infinite;
        //    }
        //  }
        //  .bl-card_wrapper{
        //    height: 100%;
        //    padding: 10px 10px 10px 0;
        //
        //    .blog-content{
        //      @include flex(center,column);
        //      align-items: flex-start;
        //      @include square(100%);
        //      background: rgba(255,255,255,.79);
        //      border-top: 1px solid rgba(255,255,255,.59);
        //      border-right: 1px solid rgba(255,255,255,.59);
        //      border-bottom: 1px solid rgba(255,255,255,.59);
        //      box-shadow: inset 0 18px 44px #00000012;
        //      color:$f-main-color;
        //      padding: 2.5rem  1.5rem  2.5rem  2rem;
        //      text-transform: capitalize;
        //      border-top-right-radius: 20px;
        //      border-bottom-right-radius: 20px;
        //      position: relative;
        //      transition: $main-trans-all;
        //      &::after{
        //        content: '';
        //        @include square(100%);
        //        position: absolute;
        //        border-top-right-radius: 20px;
        //        border-bottom-right-radius: 20px;
        //        background: linear-gradient(90.44deg, #B0E5F2 14.49%, #F07BCF 104.17%);
        //        left: 0;
        //        z-index: -1;
        //        opacity: 0;
        //        transition: $main-trans-all;
        //      }
        //
        //      h4{
        //        font-family: 'Gilroy-Medium', sans-serif;
        //        font-size: 20px;
        //        font-weight: 700;
        //        line-height: 26px;
        //        margin: 0 0 0.5em 0;
        //      }
        //      p{
        //        font-family: 'Gilroy-Medium', sans-serif;
        //        font-size: 14px;
        //        font-weight: 500;
        //        line-height: 21px;
        //      }
        //
        //    }
        //  }
        //
        //}
      }
    }

  }

}
@media screen and (max-width:747px){
  .bg{

    @include bg('../../assets/images/blogSpongeMob.png',contain);
    background-position: right;
    position: fixed;
  }
  section{
    .wrapper{
      .container{
        margin-top: 40rem;


      }
    }

  }
}
