<app-header>
  <nav>
    <div class="logo"></div>
    <ul>
      <li>
        <a href="#" (click)="scrollTo(aboutCmp)">About</a>
      </li>
      <li>
        <a href="#" (click)="scrollTo(companiesCmp)">Companies</a>
      </li>
      <li>
        <a href="#" (click)="scrollTo(blogCmp)">Blog</a>
      </li>
      <li>
        <a href="#" (click)="scrollTo(contactCmp)">Contact</a>
      </li>
    </ul>
  </nav>

</app-header>

<main>

  <section class="aboutPg" #about>
    <ng-template appInView>
      <app-about ></app-about>
    </ng-template>
  </section>

  <section class="cmpPg" #companies>
    <ng-template appInView>
      <app-companies ></app-companies>
    </ng-template>
  </section>

  <section #blog>

  </section>
</main>

  <footer #contact>

  </footer>


