@import "../assets/scss/link.scss";




nav{
  @include size($h-max-height, 100%);
  @include flex(between);
  max-width: $page-max-width;
  .logo{
    @include min-square(30px);
    @include square(2.5vw);
    @include max-square(36px);
    @include bg('../assets/svg/header_icon/logo.svg',100%);
  }
  ul{
    @include size(100%, $n-actual-size);
    @include min-size(100%, $n-max-width);
    @include max-size(100%, $n-max-width);
    @include flex(between);
    li{
      a{
        font-family: 'Gilroy-Light',sans-serif;
        font-size: $main-font-s;
        cursor: pointer;
        position: relative;
        &::after{
          content:'';
          @include size(2px, 0%);
          border-radius: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(0, 200%);
          transition: $main-trans-all;
          background: linear-gradient(90.44deg, #B0E5F2 14.49%, #F07BCF 104.17%);
        }
        &:hover{
          &::after{
            transition: $main-trans-all;
            @include size(2px, 100%);
          }
        }
      }
    }
  }
}

main{
@include flex(center,column);
  section{
    @include size(100vh, 100%);
    max-height: $page-max-height;
    min-height: $page-min-height;
    max-width: $page-max-width;
    &.aboutPg{
      display: grid;
      align-content: center;
    }
    &.cmpPg{
      display: grid;
      align-content: center;
      position: relative;
    }
  }
}
