
<header>
  <nav  >
    <div class="logo" [class]="{'articalePg': articalePg}"></div>
    <button class="btn-mob_menu"
            [class]="{'btn-close-mob_menu': btnMob}"
            (click)="burgerBtnHandler()">
             <span class="burger-menu" [class]="{'articalePg': articalePg}">
                  <span></span>
                  <span></span>
                  <span></span>
             </span>
    </button>


    <ul  class="navigation" [class]="{'show-nav' : btnMob , 'articalePg':articalePg}">
      <li>
        <a routerLink="/" [state]="{cmp: 'aboutCmp'}" >About</a>
      </li>
      <li>
        <a routerLink="/" [state]="{cmp: 'companiesCmp'}">Companies</a>
      </li>
      <li>
        <a routerLink="/blog" >Blog</a>
      </li>
      <li>
        <a routerLink="/" [state]="{cmp: 'contactCmp'}">Contact</a>
      </li>
    </ul>

  </nav>



</header>

