<div class="about-container" #contaioner>
  <div class="ph_container" #ph_container>
    <div class="photo"></div>
  </div>
  <div class="content">
    <h3 class="title" #title>About</h3>
    <div class="about-container_content" #text>
      <div class="about-container_content-text">
        <p>
          I have been working on a few startups and companies since starting
          Galaxy Lamps because nothing beats the feeling of creating something
          from scratch. Every day presents me with an opportunity to learn about
          different skills while going for growth in other areas too.
        </p>
        <p>
          Creativity has always been an important part of my life. It's what I
          do for fun, it keeps me sane and it gives meaning to everything I do.
          When you're faced with a problem, there are so many different ways it
          can be solved - some quick and easy while others may take more time
          but offer even greater results.
        </p>
        <p>
          Creativity has always been an important part of my life. It's what I
          do for fun, it keeps me sane and it gives meaning to everything I do.
          When you're faced with a problem, there are so many different ways it
          can be solved - some quick and easy while others may take more time
          but offer even greater results.
        </p>
        <p>
          Creativity has always been an important part of my life. It's what I
          do for fun, it keeps me sane and it gives meaning to everything I do.
          When you're faced with a problem, there are so many different ways it
          can be solved - some quick and easy while others may take more time
          but offer even greater results.
        </p>
      </div>
    </div>
  </div>
</div>
