@import '../../../../assets/scss/link.scss';




.about-container{


  background: rgba(255, 255, 255, 0.79);
  border: 1px solid rgba(255, 255, 255, 0.59);
  box-shadow: inset 0 18px 44px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  align-content: center;

  .content{
    padding: 3.5vw;
    .title{
      margin: 0 0 .25em 0;
    }
    .about-container_content{
      @include flex(between);
      padding: 0 1.5rem 0 0;
      .about-container_content-text{
        width: 100%;
        max-height: 361px;
        overflow-y: scroll;
        -ms-overflow-y: scroll;
        transition: $main-trans-all;
        &::-webkit-scrollbar { width: 10px;}
        &::-webkit-scrollbar-thumb {
          height: 5%;
          background: transparent;
          border-radius: 39px;
          transition: $main-trans-all;
        }
        &:hover{
          &::-webkit-scrollbar {
            transition: $main-trans-all;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #535052;
            transition: $main-trans-all;
          }
        }
        p{
          font-family: 'Gilroy-Regular',sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0;
          text-align: left;
          color: $f-secondary;
          margin: 0 0 2em 0;
          max-width: 403px;
        }
      }


    }
  }
  .ph_container{
    position: relative;
    @include flex(center);
    .photo{
      @include bg('../../assets/images/photo.png',  contain);
      position: absolute;
      height: 382px;
      width: 258px;
      left:0;
      transform: translate(-50%, 0);

    }
  }




}


@media screen and (max-width:1020px){
  .about-container{
    @include square(100%);
    @include flex(center,column);
    .content{
      padding: 8vw;
      .about-container_content{
        padding: 0;
      }
    }
    .ph_container{
      width: 100%;
      .photo{
        @include square(25vw);
        @include min-square(154px);
        border-radius: 15px;
        @include bg('../../assets/images/photo_small.png',  cover);
        left: 100%;
        transform: translate(-100%, 0);

      }
    }
  }
}
