@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../../assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype"), url("../../assets/fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../../assets/fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("../../assets/fonts/Gilroy-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../../assets/fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../../assets/fonts/Gilroy-Medium.ttf") format("truetype");
}

@-webkit-keyframes squiggleDraw {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes squiggleDraw {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sq_warping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sq_warping {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sq_scale {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 1.1, 1.1);
            transform: scale3d(1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes sq_scale {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 1.1, 1.1);
            transform: scale3d(1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes sq_rotate {
  0% {
    -webkit-transform: rotate(0) scale(1.3);
            transform: rotate(0) scale(1.3);
  }
  25% {
    -webkit-transform: rotate(120deg) scale(1.2);
            transform: rotate(120deg) scale(1.2);
  }
  50% {
    -webkit-transform: rotate(240deg) scale(1.1);
            transform: rotate(240deg) scale(1.1);
  }
  75% {
    -webkit-transform: rotate(300deg) scale(1);
            transform: rotate(300deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.1);
            transform: rotate(360deg) scale(1.1);
  }
}

@keyframes sq_rotate {
  0% {
    -webkit-transform: rotate(0) scale(1.3);
            transform: rotate(0) scale(1.3);
  }
  25% {
    -webkit-transform: rotate(120deg) scale(1.2);
            transform: rotate(120deg) scale(1.2);
  }
  50% {
    -webkit-transform: rotate(240deg) scale(1.1);
            transform: rotate(240deg) scale(1.1);
  }
  75% {
    -webkit-transform: rotate(300deg) scale(1);
            transform: rotate(300deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.1);
            transform: rotate(360deg) scale(1.1);
  }
}

h3 {
  padding-bottom: 2.5rem;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 4rem 0;
}

.blog-container .bl-container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-container .bl-container-box .blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 173px;
  border-radius: 20px;
}

.blog-container .bl-container-box .blog-card .bl-image {
  height: 100%;
  width: 95px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 10px;
  border-radius: 20px;
}

.blog-container .bl-container-box .blog-card .bl-image .img {
  position: absolute;
  height: 100%;
  width: 200px;
  background-image: url("../../assets/images/blogSponge.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -o-background-size: auto;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  -webkit-animation: sq_rotate 20s linear infinite;
          animation: sq_rotate 20s linear infinite;
}

.blog-container .bl-container-box .blog-card .bl-card_wrapper {
  height: 173px;
  padding: 10px 10px 10px 0;
}

.blog-container .bl-container-box .blog-card .bl-card_wrapper .blog-content {
  width: 100%;
  height: 100%;
  background: rgba(243, 243, 243, 0.65);
  -webkit-box-shadow: 0 18px 44px rgba(0, 0, 0, 0.04);
          box-shadow: 0 18px 44px rgba(0, 0, 0, 0.04);
  color: rgba(65, 65, 65, 0.9);
  padding: 1.5rem  1.5rem  2.5rem  2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.blog-container .bl-container-box .blog-card .bl-card_wrapper .blog-content h4 {
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 0.5em 0;
}

.blog-container .bl-container-box .blog-card .bl-card_wrapper .blog-content p {
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

button {
  background: linear-gradient(230.03deg, #EA97CC 14.15%, #F7BBBB 84.13%);
  -webkit-box-shadow: 0 18px 44px rgba(0, 0, 0, 0.04);
          box-shadow: 0 18px 44px rgba(0, 0, 0, 0.04);
  border-radius: 27px;
  height: 52px;
  width: 174px;
  font-family: 'Gilroy-ExtraBold',sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .blog-container {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
  .blog-container .bl-container-box {
    height: 173px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
  }
  .blog-container .bl-container-box .blog-card {
    height: 100%;
    width: 100%;
    max-width: 358px;
    position: absolute;
  }
}
/*# sourceMappingURL=blog.component.css.map */