@import './assets/scss/link.scss';





*{padding: 0;margin: 0;  box-sizing: border-box;scroll-behavior: smooth;}

li{ text-indent: 0;list-style: none;}

a,button{ all: unset;cursor:pointer }

body{
  //@include flex(start,column);
  position: relative;
  overflow-x: hidden
}

app-home-page{
  @include square(100%);
  @include flex(start,column);
  position: relative;
  overflow-x: hidden;
  app-svg-squiggle{
    @include square(100%);
  }
  app-header{
    width: 100%;
    max-width: 1170px;
  }
}

svg{ @include square(100%);}

header, footer{
  @include size(100vh, 100%);
  max-height: $page-max-height;
  min-height: $page-min-height;
}

main{
  width: 100%;
  max-width: 1170px;
  section{
    @include size(100vh, 100%);
    max-height: $page-max-height;
    min-height: $page-min-height;
    @include flex(center);
    app-about{
      @include size (100%, 90%);
      @include max-size(507px, 753px);
    }
    app-companies{
      @include square(100%);
    }
    app-blog{
      @include  flex(center, column);
      padding: 180px 0 0 0;
    }

  }
}




.title{
  font-family: 'Gilroy-Medium',sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  color: $f-main-color;
}

@media screen and (max-width:1020px){
  .title{
    font-size: 42px;
  }
}
