@import '../../assets/scss/link.scss';







footer {
  @include flex(center);
  padding: 0 15px;
  app-contact{
    @include square(100%);
    max-width: 1170px;
    @include flex(start);
  }
}









@media screen and (max-width:1020px){

  footer{

    align-items: center;
    app-contact{

      @include flex(center);
    }
  }
}
